<div id="footer">
  <div id="footerlogo">
    <a href="{{@blog.url}}" alt="montag.wtf">
      <img class="montagfooterlogo" src={{asset "assets/images/redmontag.png"}}>
    </a>
  </div>
  {{> socials}}
  <div id="copyright">
    <span class="footertext">
      Copyright © MONTAG 2018
    </span>
  </div>
</div>
