<!-- MONTAG logo, subtitle, and hamburger menu -->
<div id="logobar">
  <div id="montag-logo">
    <a href="{{@blog.url}}" alt="montag.wtf">
      <img class="montaglogo" src={{asset "assets/images/blackmontag.png"}}>
    </a>
  </div>
  <div id="subtitle-container">
    <span class="subtitle">A magazine of tomorrow's stories that describe how technology will change the way we live.</span>
  </div>
  <div id="hamburger-menu">
    <a href="#" alt="menu" id="hamburger">
      <img class="hamburgermenu" id="hamburger1" src={{asset "assets/images/hamburger1.png"}}>
      <img class="hamburgermenu disappeared" id="hamburgerX" src={{asset "assets/images/hamburgerX.png"}}>
    </a>
  </div>
</div>
<div id="by-grover">
  <a href="https://getgrover.com/" alt="Grover">BY GROVER</a>
</div>
