<!-- logo bar for mobile, contains MONTAG logo and hamburger menu -->
<div id="navbar">
  <div id="mobile-montaglogo">
    <a href="{{@blog.url}}" alt="montag.wtf">
      <img class="logobar-logo" src={{asset "assets/images/whitemontag.png"}}>
    </a>
  </div>
  <div id="subtitle-container">
    <span class="subtitle">A magazine of tomorrow's stories that describe how technology will change the way we live.</span>
  </div>
  <div id="hamburger-menu">
    <a href="#" alt="menu" id="hamburger">
      <img class="hamburgermenu" id="hamburger1" src={{asset "assets/images/whitehamburger.png"}}>
    </a>
  </div>
</div>
