<div id="sociallinks">
    <span class="sociallink">
      <a href="https://soundcloud.com/the-montage-podcast" alt="Soundcloud">
        <img src={{asset "assets/images/soundcloudicon.png"}} alt="Soundcloud" id="soundcloud">
      </a>
    </span>
    <span class="sociallink">
      <a href="mailto:montag@getgrover.com" alt="Email">
        <img src={{asset "assets/images/emailicon.png"}} alt="Email" id="email">
      </a>
    </span>
</div>
