<!-- MONTAG logo and Grover logo stuck to top of page -->
<div id="sticky-logobar">
  <div id="sticky-montag-logo">
    <a href="{{@blog.url}}" alt="montag.wtf">
      <img class="montaglogo" src={{asset "assets/images/whitemontag.png"}}>
    </a>
  </div>
  <div id="sticky-grover-logo">
    <a href="https://getgrover.com/" alt="getgrover.com">
      <img class="groverlogo" src={{asset "assets/images/groverlogo.png"}}>
    </a>
  </div>
</div>
