<div id="xyzmodal" class="modal-container hidden">
  <a href="#" id="closemodal">Close</a>
  <img id="modalillustration" src={{asset "assets/images/kid.png"}}>
  <div class="modal-content">
    MONTAG Magazine is currently on an online publishing break.
    <br><br>
    AI has taken over writing for now at <a href="https://www.montag.xyz" class="modallink">MONTAG.XYZ</a>
    <br><br>
    Issues 1-6 are still available here and Issues 1-3 in print by request at montag@grover.com
  </div>

</div>
