@media (max-width:700px){
  /*Universal*/
  body{
    min-width: 320px;
  }
  /* Montag banner */
  /* Logo bar*/
  #desktop-logobar{
    display: none;
  }
  /* Nav bar */
  #mobile-montaglogo{
    display: inline-block;
    height: 100%;
    padding-left: 1em;
    padding-top: 1em;
    width: 46%;
    box-sizing: border-box;
  }
  #subtitle-container{
    display: none;
  }
  #hamburger-menu{
    width: 50%;
  }
  .hamburgermenu{
    max-width:30px;
  }

  /*Menu*/
  .menulink{
    margin-left: 20%;
    margin-right: 10%;
  }

  /*Pagination */
  .pagination-right{
    display: block;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    position: initial;
    padding: 0;
    margin-bottom: 1em;
  }
  .pagination-left{
    display: block;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    position: initial;
    padding: 0;
    margin-bottom: 1em;
  }
  /*Footer */
  #footer{
    text-align: center;
    text-align: -webkit-center;
    margin-top:8em;
  }
  #footerlogo{
    display: block;
  }
  .montagfooterlogo{
    height: 2em;
  }
  #sociallinks{
    display: block;
    margin: 0;
    position: relative;
  }
  /*Posts on home page*/
  #homepageposts{
    margin: 1em;
  }
  .homepage-post-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .homepage-post-info-wrapper{
    height: auto;
  }
  .homepage-post-excerpt{
    display: none;
  }
  /*Posts on post page*/
  .postpage-post-wrapper{
    width: 90%;
  }
  .post-author{
    display: block;
    text-align: center;
    text-align: -webkit-center;
    float: none;
    margin: 0.5em;
  }
  .post-date{
    display: block;
    text-align: center;
    text-align: -webkit-center;
    float: none;
    margin: 0.5em;
  }
  .post-title{
    margin-top: 1em;
  }
/*
  Sticky logos */
  #sticky-montag-logo .montaglogo{
    height: 2em;
  }
  #sticky-grover-logo .groverlogo{
    height: 2.3em;
  }
}
