/*Universal*/
body{
  width: 100%;
  height: 100%;
  margin:0;
  background-color:#0f1020;
  color:#fff;
	position: relative;
  min-width: 420px;
}
img{
  max-width:100%;
}
iframe{
  max-width:100%;
}
#content-wrapper{
  min-height: 100%;
  margin-bottom: -6em;
}
.hidden{
  display: none;
}
/*Typography*/
html, body{
	font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
a{
  text-decoration: none;
	color: #00ccff;
}
a:hover{
  text-decoration: underline;
  color: #00aaff;
}
input, textarea{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
blockquote{
	font-family: Georgia, Times, 'Times New Roman', serif;
  color:#ff00ff;
  font-style: italic;
  font-size: 1.3em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Courier New', Courier, monospace;
  padding-bottom: 0.5em;
}
.blog-post-1.ff-section .post-content a{
			color:#00ccff;
}
p{
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
}
b, strong{
  color: yellow;
}

/*Montag banner*/
#montagbanner{
  width: 100%;
  height: 40vh;
  background-image: url(/assets/images/issue2header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Logo bar*/
#desktop-logobar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
.logobar-montag-logo{
  padding-top: 1em;
  padding-left: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.logobar-grover-logo{
  padding-top: 1em;
  padding-right: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.logobar-logo{
  height: 100%;
  width: auto;
}
/* Nav bar*/
#navbar{
  width: 100%;
  height: 10vh;
}
#mobile-montaglogo{
  display: none;
}
#subtitle-container{
  padding-top: 1em;
  padding-left: 2em;
  width: 90%;
  display: inline-block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.subtitle{
	font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
#hamburger-menu{
  width: auto;
  display: inline-block;
  padding-top: 1em;
  padding-right: 1em;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
}
.hamburgermenu{
	max-width: 40px;
}

/*Menu*/
#menu-container{
  width: 100%;
  position: absolute;
  z-index: 3;
}
#navmenu{
  background-color: #001020;
}
.menulink{
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 1em;
}
.menulink a{
  color: #fff;
  font-size: 20px;
  font-family: "Futura", Trebuchet MS, Arial, sans-serif;
}
.menulink a:hover{
  color: #00ccff;
}
#print a{
  color: #ff00ff;
  font-weight: 800;
}
#print a:hover{
  color: #00ccff;
}


/*Sticky logo bar*/
#sticky-logobar{
  width: 100%;
  height: 4.5em;
  background-color: #0f1020;
  z-index: 2;
  position: fixed;
  top: 0;
}
#sticky-montag-logo{
  width:50%;
  position:fixed;
  top: 0;
  left: 0;
}
#sticky-montag-logo .montaglogo{
  height: 3em;
  padding-left: 1.5em;
  margin-top: 1em;
}
#sticky-grover-logo{
  width:50%;
  position:fixed;
  top: 0;
  right: 0;
  text-align:right;
  padding-right:0.5em;
}
#sticky-grover-logo .groverlogo{
  height: 3.5em;
  margin-top: 0.8em;
  padding-right: 1.5em;
}


/*Footer */
#footer{
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
	background-color: #0f1020;
	padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 6em;
  height: 6em;
  font-family: 'Open Sans', sans-serif;
}
#footerlogo{
	display: inline-block;
}
.montagfooterlogo{
	height: 2em;
  margin-left:1em;
}
#sociallinks{
	display: inline-block;
	margin-right: 3em;
	margin-top: 0.5em;
	position: absolute;
	right: 0;
}
.sociallink{
	padding: 0.5em;
}
.sociallink a{
  color: #ffffff;
}
#soundcloud{
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
#email{
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;"
}
.footertext{
	color: #ffffff;
	font-size: 0.7em;
  margin-left: 1.5em;
}

/*Posts on home page*/
#homepageposts{
  margin-left: 2em;
  margin-right: 2em;
}
.homepage-post-wrapper{
  width: 100%;
  margin-bottom: 2em;
}
.homepage-post-info-wrapper{
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.homepage-post-title{
  width: 100%;
  font-size: 40px;
  display: inline-block;
  color: #fff;
  vertical-align: sub;
  text-align: center;
  margin-top: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1em;
}
.homepage-post-title:hover{
  color:#00ccff;
}
.homepage-post-excerpt{
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/*Posts on post page*/
.postpage-post-wrapper{
  margin-top: 5.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.postpage-post-wrapper .post-image{
  display: block;
  width: 100%;
}
.authordatewrap{
  width: 100%;
}
.post-author{
  display: inline-block;
  float: left;
}
.post-date{
  display: inline-block;
  float: right;
}
.postpage-post-wrapper .post-title{
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
  font-size: 2em;
  display: inline-block;
  vertical-align: top;
  color: #00ff00;
  line-height: 1.2em;
  padding: 1em;
}
.postpage-post-wrapper .post-tags{
  text-align: center;
  text-align: -webkit-center;
}
.postpage-post-wrapper .post-tags li{
  display: inline;
  text-transform: uppercase;
}
.authordatewrap{
  height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.post-content-wrapper{
  overflow-wrap: break-word;
}
/*Pagination*/
.pagination{
  height: 5em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  font-family: 'Open Sans', sans-serif;
}
.pagination a{
  color: #fff;
}
.pagination a:hover{
  color:#00ccff;
}
.pagination-right{
  display: inline-block;
  width: 30%;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  right: 0;
  padding-right: 1em;
}
.pagination-left{
  display: inline-block;
  width: 30%;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 0;
  padding-left: 1em;
}
.pagination-center{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: -webkit-center;
  text-transform: uppercase;
}
/*Author pages*/
.author-info{
  margin-top: 5.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.author-name{
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.author-location{
  text-transform: uppercase;
}
.author-bio{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.author-website{}
.author .post-tags li{
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em;
}
.author-post-wrapper{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.author-post-title{
  width: 100%;
  font-size: 1.5em;
}
/*Error page*/
#error-page{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9em;
  padding-bottom: 6em;
  height: 100%;
}
.error-page-text{
  text-align: center;
  padding-top: 1em;
}
